#popup_container {font-family: Arial, sans-serif;font-size: 12px;min-width: 200px;max-width: 100%;background: #FFF;border: solid 1px #438EB9;color: #000;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
#popup_title {font-size: 14px;font-weight: bold;text-align: center;line-height: 1.75em;color: #FFFFFF;background: #438EB9;border: solid 1px #438EB9;cursor: default;padding: 0em;margin: 0em;}
#popup_content {background: 16px 16px no-repeat url(../../img/info.gif);padding: 1em 1.75em;margin: 0em;}
#popup_content_dialog {padding: 1em 1.75em;margin: 0em;}
#popup_content_loading {padding: 1em 1.75em;margin: 0em;text-align:center;}
#popup_content.alert {background-image: url(../../img/info.gif);}
#popup_content.confirm {background-image: url(../../img/important.gif);}
#popup_content.prompt {background-image: url(../../img/help.gif);}
#popup_message {padding-left: 48px;}
#popup_message_dialog {width:100%}
#popup_panel {text-align: center;margin: 1em 0em 0em 1em;}
#popup_prompt {margin: .5em 0em;}